

body {
    background-color: #f1f1f1;
}

header, footer {
    color: white;
    background-color: sienna;
    clear: left;
    text-align: center;
}

header{
   background-color: #000000;
   background: url(https://farm6.staticflickr.com/5291/5492734526_b822b9ac84_o.jpg) no-repeat center bottom;
   background-size: cover;
   background-width: 100%;
   font-size: 1em;
} 



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: inline-block;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
    color: white;
}

.article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: .5em;
    overflow: hidden;
    display: inline-block;
    clear: left;
    position: relative;
    text-align: top;
}

.img-circle {
  border-radius: 10px;
}

.navigation {
  box-sizing: border-box;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
