

body {
    background-color: #f1f1f1;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: sienna;
    clear: left;
    text-align: center;
}

header{
   background-color: #000000;
   background: url(https://farm6.staticflickr.com/5291/5492734526_b822b9ac84_o.jpg) no-repeat center bottom;
   background-size: cover;
   background-width: 100%;
   font-size: 2em;
}
} 

nav {
    float: left;
    max-width: 200px;
    margin: 0;
    background-color: #f1f1f1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #555;
    color: white;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: .5em;
    overflow: hidden;
}

.img-circle {
  border-radius: 50%;
}
