 @import url('https://fonts.googleapis.com/css?family=Alex+Brush');
 @import url('https://fonts.googleapis.com/css?family=PT+Sans');

 html, body   {
    height: 100%; 
    margin: 0;
    padding: 0;
}

#maincontent {
    background-image: url(repeatbg.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#secondBG {
    background-image: url(repeatbg.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}


body {
    background-color: transparent;
}


#title {
    position: relative;
    -webkit-animation: mymove 1s; 
    animation: mymove 1s;
    font-weight: lighter;
    font-family: 'Alex Brush', cursive;
}

#title {-webkit-animation-timing-function: ease-out;}

#title {animation-timing-function: ease-out;}

#topRuler {
    position: relative;
    -webkit-animation: hrmove 1s; 
    animation: hrmove 1s;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

#topRuler {-webkit-animation-timing-function: ease-in;}

#topRuler {animation-timing-function: ease-in;}


/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {bottom: -100px;}
    to {bottom: 0;}
}

/* Standard syntax */
@keyframes mymove {
    from {bottom: -100px; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes hrmove {
    from {width: 0;}

}

/* Standard syntax */
@keyframes hrmove {
    from {width: 0; opacity: 0;}
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
 
 

.centering {
  float:none;
  margin:0 auto;
}


.hvr-icon-grow:hover {
    -webkit-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
    transition: .5s;
    transition-property: transform;
    opacity: 1;
}

.hvr-icon-grow {
    transition-duration: .5s;
    opacity: .25;
}

nav > *, p {
    font-family: 'PT Sans', sans-serif;
}

#about, #projects {
    background-color: white;
    height: 500px;
}

#about {
    text-align: left;
}

#aboutRuler {
    height: 2px;
    background-color: black;
    position: relative;
    -webkit-animation: hrmove 1s; 
    animation: hrmove 1s;
    border: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
    align-self: left;
}

#mugshot {
    border: solid 3px #000;
    -moz-box-shadow: 5px 5px 3px #999;
    -webkit-box-shadow: 5px 5px 3px #999;
    box-shadow: 5px 5px 3px #999;
}



