/*--------------------------------------------------------------------------------------------------------
                                                FONTS
--------------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@import url('https://fonts.googleapis.com/css?family=Montserrat:800');

/*--------------------------------------------------------------------------------------------------------
                                                FONTS
--------------------------------------------------------------------------------------------------------*/

:root { 
    --red: #f04;
    --orange:  var(--red);
}



/*--------------------------------------------------------------------------------------------------------
                                                GENERIC STYLINGS
--------------------------------------------------------------------------------------------------------*/

 html, body > *{
    width: 100%;
    height: 100%; 
    margin: 0 0 10% 0;
    padding: 0;
}

body {
    background-color: transparent;
}
.is-sticky > * {
   background-color: black !important;
    transition: .5s ease-in;
}

.stick-wrapper > *{
    background-color: transparent;
    transition: .5s ease-out;
}



/*--------------------------------------------------------------------------------------------------------
                                                HEADER
--------------------------------------------------------------------------------------------------------*/

#maincontent {
    background-image: url(computer.jpg);
    background-image-opacity: .5; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


#secondBG {

    background-image: url(computer.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

#title {
    position: relative;
    -webkit-animation: mymove 1s;
    animation: mymove 1s;
    font-family: 'Alex Brush', sans-serif;
    font-weight: bold;
}

#title {
    -webkit-animation-timing-function: ease-out;
}

#title {
    animation-timing-function: ease-out;
}

#arrowDown, #arrowDown > * {
    color: white;
}

#arrowDown:hover {

    text-decoration: none;
    opacity: .75;
}

#arrowDown > i {
    animation-delay: 2s;
    color:  var(--red);
}

i {
    color: black;
}

#topRuler {
    position: relative;
    -webkit-animation: hrmove 1s;
    animation: hrmove 1s;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

#topRuler {
    -webkit-animation-timing-function: ease-in;
}

#topRuler {
    animation-timing-function: ease-in;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

#accordionBtn {
    background-color: transparent;
    border-color: var(--red);
    border-width: 1px;
}

#ui-id-1:focus {
    outline: none;
}

/*--------------------------------------------------------------------------------------------------------
                                                HEADER ANIMATION
--------------------------------------------------------------------------------------------------------*/

@-webkit-keyframes mymove {
    from {
        bottom: -100px;
    }
    to {
    bottom: 0;
    }
}

@keyframes mymove {
    from {
        bottom: -100px;
        opacity: 0;
    } to {
        bottom: 0px;
        opacity: 1;
    }   
}

@-webkit-keyframes hrmove {
    from {
        width: 0;
    }
}

@keyframes hrmove {
    from {
        width: 0;
        opacity: 0;
    }
}

#maincontent {
  height:100%;
  display:table;
  width: 100%;
  padding: 10%;
}
 
.row-fluid {
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}

.centering {
  float:none;
  margin:0 auto;

}

/*--------------------------------------------------------------------------------------------------------
                                    SOCIAL MEDIA CONTACT ICONS
--------------------------------------------------------------------------------------------------------*/

.hvr-icon-grow:hover {
    -webkit-transform: scale(1.1) rotate(5deg);
    transform: scale(1.1) rotate(5deg);
    transition: .5s;
    transition-property: transform;
    opacity: 1;
}

.hvr-icon-grow {
    transition-duration: .5s;
    opacity: .25;
}

nav > *, p {
    font-family: 'PT Sans', sans-serif;
}

#about, #projects {
    background-color: white;
}
nav.fixed {
    background: #fff;
    height: 64px;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

nav {
    z-index: 1;
}


/*--------------------------------------------------------------------------------------------------------
                                            NAV LINK ANIMATIONS
--------------------------------------------------------------------------------------------------------*/

a.borderYtoX:before, a.borderYtoX:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background:  var(--red);
    transition: all 0.3s;
}

a.borderYtoX
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: bold;
}

a.borderYtoX:before
{
    left: 0px; 
    top: 0px;
}

a.borderYtoX:after
{
    right: 0px;
    bottom: 0px;

}

a.borderYtoX:hover:before, a.borderYtoX:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

.devicon-devicon-plain {
    min-width: 10em;
    max-width: 15em;
}

/* if you want to change the original color */
.devicon-devicon-plain path {
  fill: #4691f6;
}

 
/*--------------------------------------------------------------------------------------------------------
                                                Portfolio Boxes
--------------------------------------------------------------------------------------------------------*/

.portfolio-box {

    position:relative;
    display:block;
    width:100%;
    height: 300px;
    margin:0 auto
}


.portfolio-box .portfolio-box-caption {

    color:#fff;
    opacity:0;
    display:block;
    background: var(--red);
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    height:100%;
    transition:all .35s
}


.btn-default.active,.btn-default:active,.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-default,.open>.dropdown-toggle.btn-primary {

    background-image:none
}


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {

    width:100%;
    text-align:center;
    position:absolute;
    top:50%;
    transform:translateY(-50%)
}


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {

    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding:0 15px
}


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {

    text-transform:uppercase;
    font-weight:600;
    font-size:14px
}


.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {

    font-size:18px
}


.portfolio-box:hover .portfolio-box-caption {

    opacity:1
}


.portfolio-box:focus {

    outline:0
}


@media (min-width:768px) {

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {

        font-size:16px
    }


    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {

        font-size:22px
    }

}


.no-padding{

    padding:0
}


.no-gutter>[class*=col-]{
padding-right:0;padding-left:0}

/*--------------------------------------------------------------------------------------------------------
                                                MODALS
--------------------------------------------------------------------------------------------------------*/
.img-centered{
    margin:0 auto}
    header{
    text-align:center;
    background:#18BC9C;
    color:#fff}

.portfolio-modal .modal-content{
    border-radius:0;
    background-clip:border-box;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:none;
    min-height:100%;
    padding:100px 0;
    text-align:center}

.portfolio-modal .modal-content h2{
    margin:0;
    font-size:3em}

.portfolio-modal .modal-content img{
    margin-bottom:30px}

.portfolio-modal .modal-content .item-details{
    margin:30px 0}

.portfolio-modal .close-modal{
    position:absolute;
    width:75px;
    height:75px;
    background-color:transparent;
    top:25px;
    right:25px;
    cursor:pointer}

.portfolio-modal .close-modal:hover{
    opacity:.3}

.portfolio-modal .close-modal .lr{
    height:75px;
    width:1px;
    margin-left:35px;
    background-color:#2C3E50;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    z-index:1051}

.portfolio-modal .close-modal .lr .rl{
    height:75px;
    width:1px;
    background-color:#2C3E50;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    z-index:1052}

.portfolio-modal .modal-backdrop{
    opacity:0;
    display:none}

.col-lg-4 {
    height:25%;
    width: 33%;
}

